body {

}
#hai{  margin-top: 15px;}

#header{
	background-color: orange;
	}
#lol {
	background-color:orange;
color: blue;
	font-size: 50px;
	margin-top: -100px;

}

.header img {
  float:left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  margin-top: 1111118px;
  left: 10px;
}
