 body {
 	background-image:url("../assets/tester.jpg");
 }
 #headWrapper{
 	size: 20px;
 color:blue; 
 margin-left: 200px;
height: 200px;
width: 900px;
background-color: ;
}

#menu{
	size: 20px;
float: left;
color:blue;
height: 395px;
width: 100px;
background-color: ;
}
#contentWrapper{
	size: 20px;
float: left;
color:blue;
height: 380px;
background-color: ;
}
#title{
	size: 20px;
height: 80px;
color:blue;
background-color: ;
width: 800px;
}
#buttons{
	size: 20px;
	color:blue;
height: 80px;
background-color: ;

}
#results{
	size: 20px;
height: 220px;
color:blue;
background-color: ;
}
#low{

}
#med{

}
#high{

}

.button { 
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

